@import '../../../scss/variables';

.app-header {
    display: flex;
    justify-content: space-between;
    background-color: $gray2;
    padding: 4rem;
  }
  .user-name {
    color: $white;
    font-size: 2.2rem;
    margin: 0;
    span{
        font-weight: 900;
    }
  }
  .main-nav{
      a{
        color: $white;
        text-decoration: none;
        &:first-of-type{
            margin-right: 2rem;
        }
      }
  }